# pybuilder
.pybuilder/
__pycache__/

# lein
target/
.lein-repl-history
.lein-failures
pom.*

# ide
.calva

*.iml
.idea/

valid-auth.edn
valid-config.edn
my-auth.edn

.clj-kondo/
.lsp/
.eastwood
.envrc
