{:source-paths ["src/main/cljc"
                "src/main/cljs"
                "src/main/resources"
                "src/test/cljc"
                "src/test/cljs"
                "src/test/resources"]
 :dependencies [[aero "1.1.6"]
                [orchestra "2021.01.01-1"]
                [expound "0.8.9"]]
 :builds {:test {:target    :node-test
                 :output-to "target/node-tests.js"
                 :autorun   true
                 :repl-pprint  true}}}
