{:input {:additional-node-metrics ["go_gc_duration_seconds"]
         :additional-traefik-metrics ["traefik_config_reloads_total"]
         :additional-kube-state-metrics ["kube_persistentvolume_annotations"]}
:expected
{:node-metrics
 ["node_cpu_seconds_total" "node_load1" "node_load5" "node_load15" "node_memory_MemTotal_bytes" 
  "node_memory_MemFree_bytes" "node_memory_Buffers_bytes" "node_memory_Cached_bytes"
  "node_disk_read_bytes_total" "node_disk_written_bytes_total" "node_disk_io_time_seconds_total" 
  "node_filesystem_size_bytes" "node_filesystem_avail_bytes" "node_network_receive_bytes_total" 
  "node_network_transmit_bytes_total"]
 :traefik-metrics
 ["traefik_entrypoint_requests_total" "traefik_entrypoint_requests_duration_seconds_count" 
  "traefik_entrypoint_requests_tls_total" "traefik_router_requests_total" 
  "traefik_router_requests_tls_total"
  "traefik_service_requests_total" "traefik_service_requests_duration_seconds_count" 
  "traefik_service_requests_tls_total" "traefik_tls_certs_not_after"]
 :kube-state-metrics 
 ["kube_pod_container_status_restarts_total" "kube_pod_status_reason" "kube_node_status_allocatable" 
  "kube_node_status_capacity" "kube_cronjob_status_active" "kube_job_status_failed"]}}